<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="shortcut icon" href="static/img/logo-icon.png">
    {% block buttons_css %}
        <link href="static/css/button.css" rel="stylesheet" type="text/css" media="screen">
    {% endblock %}
    {% assets "portal_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" media="screen">
    {% endassets %}

    {% block customized_css %} {% endblock %}

    {% assets "portal_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block customized_js %}{% endblock %}
</head>
<body id="baby">
{% block subcontent %}{% endblock %}
{% block customized_js_script %}{% endblock %}
</body>
</html>
