<style type="text/css">
p {
	font-weight: normal;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
h6 .small, h6 small {color:#a7a7a7;}
</style>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<h4>呼吸内科</h4>
		<h6><small>来自 好大夫在线</small></h6>
        <h4>科室位置:门诊A座2层217室</h4>
			<p style="color:#999; text-align:justify">
				呼吸内科，据统计，每7个美国人中就有一个人罹患关节炎，所有年龄阶段都有可能罹患关节炎，
			</p>
		</div>
	</div>
</div>
