<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>选择科室</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

        <style>
            body, div {
                margin: 0px;
                padding: 0px;
            }

            .side {
                float: left;
                width: 45%;
                background-color: #F2F2F2;
                line-height: 46px;
            }

            .side>p {
                font-size: 17px;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 17px;
                border-bottom: 1px solid #dcdcdc;
            }

            .content {
                float: left;
                background-color: #ffffff;
                color: #333333;
                line-height:46px;
            }

            .content>p {
                font-size: 17px;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 26px;
            }

            .sideActive {
                background-color: #ffffff;
            }

            .sideInActive {
                background-color: #f2f2f2;
            }

        </style>

        <script>
            var deptObjs = [];
            var template = _.template("<p data-id='<%=id%>'><%=name%></p>");

            var sideDiv;
            var contentDiv;

            $(document).ready(function(){
                sideDiv = $(".side");
                contentDiv = $(".content");
                initializeDepts();
            });

            function initializeDepts(){
                var url = "http://yy.nuttek.com/departments?length=50";
                $.ajax({
                    url: url,
                    method: 'GET',
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (!data['success']) {
                            alert(data['message']);
                        } else {
                            deptObjs = data.departments;
                            drawDepts(sideDiv, deptObjs, true);
                            drawDepts(contentDiv, deptObjs[0].child_departments, false);
                        }
                    }
                });
            }

            function drawDepts(elementObj, data, isSide){
                var isFirstOne = true;
                _.each(data, function(obj){
                    ele = $(template(obj));
                    if(isSide){
                        if(isFirstOne){
                            $(ele).addClass("sideActive");
                            isFirstOne = false;
                        }
                        ele.click(function(){
                            var self = $(this);
                            self.removeClass("sideInActive");
                            self.addClass("sideActive");
                            _.each(self.siblings(), function(ele){
                                $(ele).removeClass("sideActive");
                                $(ele).addClass("sideInActive");
                            });
                            onSideDeptClick(self.data("id"));
                        });
                    }
                    else{
                        ele.click(function(){
                            var self = $(this);
                            onContentDeptClick(self.data("id"));
                        });
                    }
                    elementObj.append(ele);
                });
            }

            function onSideDeptClick(deptId){
                _.each(deptObjs, function(deptObj){
                    if(deptObj.id == deptId){
                        contentDiv.empty();
                        drawDepts(contentDiv, deptObj.child_departments, false);
                        return false;
                    }
                });
            }

            function onContentDeptClick(deptId){
                var isTreatment = localStorage.getItem("is_treatment");
                if(isTreatment != undefined && isTreatment == "1"){
                    var hosp_id = localStorage.getItem("hosp_id");
                    if(!hosp_id){
                        localStorage.setItem("dept_id", deptId);
                        window.location.href = "/page?b_type=hosp&dept_id=" + deptId;
                        return false;
                    }
                    var dept_id = deptId;
                    localStorage.setItem("dept_id", deptId);
                    window.location.href = "/treatments";
                    return false;
                }
                localStorage.setItem("dept_id", deptId);
                window.location.href = "/page?b_type=hosp&dept_id=" + deptId;
                return false;
            }
        </script>

    </head>
    <body>
       <div class="side"></div>
       <div class="content"></div>
    </body>
</html>
