{% include 'navbar.html' %}

{% block customized_css %}

{% endblock %}


{% block subcontent %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="media"> <a href="#" class="pull-left"><img src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/64/64/default.jpg"   class="img-circle" alt='' /></a>
        <div class="media-body">
          <h5>张立方<small>&nbsp;主任医师</small></h5>
          天津中医院
          <p>
          <h6>
            <button type="button" class="btn btn-info btn-xs">呼吸</button>
            <button type="button" class="btn btn-waiting btn-xs">气管炎</button>
          </h6>
          </p>
        </div>
      </div>
      <div class="media"> <a href="#" class="pull-left"><img src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/64/64/default.jpg"   class="img-circle" alt='' /></a>
        <div class="media-body">
          <h5>张立方<small>&nbsp;主任医师</small></h5>
          天津中医院
          <p>
          <h6>
            <button type="button" class="btn btn-info btn-xs">心脏</button>
            <button type="button" class="btn btn-waiting btn-xs">肿瘤</button>
            <button type="button" class="btn btn-success btn-xs">心血管内科</button>
          </h6>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
