<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>预约挂号</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <style>
            body, div {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                margin: 0;
                padding: 0;
            }

            body {
                background-color: #F2F2F2;
            }

            .nav_container {
                overflow-x: scroll;
                overflow-y: hidden;
                width: 100%;
            }

            .nav {
                width: 900px;
                border-top: 1px solid #e2e2e2;
                border-bottom: 1px solid #e2e2e2;
                background-color: #ffffff;
            }

            .nav_item {
                display: inline-block;
                margin: 13px 20px 7px;
                height: 69px;
                text-align: center;
                line-height: 13px;;
                font-size: 14px;
            }

            .nav_item p {
                margin: 7px 0;
            }

            .content_container {
                background-color: #F2F2F2;
                margin-top: 10px;
                border-top: 1px solid #e2e2e2;
                width: 100%;
            }

            .fa-circle {
                font-size: 6px;
                color: #71af28;
            }

            .part{
                float: left;
                line-height: 42px;
                vertical-align: middle;
                text-align: center;
                font-size: 14px;
                background-color: #ffffff;
                width: 50%;
                border-bottom: 1px solid #e2e2e2;
            }

            .link {
                color: #000000;
                border-bottom: 1px solid #e2e2e2;
            }

            .visited {
                color: #68a8f2;
                border-bottom: 2px solid #68a8f2;
            }

            .row h4, .row h5 {
                display: inline;
            }

            .content {
                clear: both;
            }

            .cell {
                background-color: #ffffff;
                border-bottom: 1px solid #e2e2e2;
                padding: 10px 0;
                height:80px;
            }

            .cell .left {
                display: inline-block;
                padding: 5px 16px 0 17px;
                border: 1px solid #FFFFFF;
            }

            .cell .right {
                display: inline-block;
                line-height: 15px;
            }

            .cell img {
                width: 61px;
                height: 61px;
                border: 0;
                border-radius: 50%;
            }

            h4 {
                font-size: 17px;
                font-weight:normal;
            }

            h5 {
                font-size: 12px;
                font-weight:normal;
            }

            .cell h4 {
                margin-right: 5px;
            }
            .cell h5 {
                margin: 10px 0;
            }

            .active {
                color: #68a8f2;
            }

            .inactive {
                color: #000000;
            }

        </style>

    </head>
    <body>
        <div class="nav_container">
            <div class="nav"></div>
        </div>

        <div class="content_container">
            <div class="selector">
                <div class="part visited" data-type="0">
                    上午
                </div>
                <div class="part link" data-type="1">
                    下午
                </div>
            </div>
            <div class="content"></div>
        </div>
    </body>
    <script >

        var curDay;
        var curDayTime = 0;
        var dayRowTemplate = _.template("<div class='nav_item' data-date='<%=date%>'>" +
                                        "<p><%=day%></p>" +
                                        "<p><%=weekday_name%></p>" +
                                        "<p><i class='fa fa-circle'></i></p>" +
                                        "</div>");

        var doctorRowTemplate = _.template('<div class="cell" data-id="<%=id%>">' +
                                                '<div class="left"><img src="<%=thumbnail%>"></div>' +
                                                '<div class="right">' +
                                                '<div class="row"><h4><%=name%></h4><h5><%=level.name%></h5></div>' +
                                                '<h5><%=time%>/剩余号 <%=remaining_amount%></h5>' +
                                                '<h5><div style="width:250px; height: 18px;overflow: hidden;"><%=description%></div></h5>' +
                                                '</div>' +
                                            '</div>');

        var daysContainer = $(".nav");
        var doctorsContainer = $(".content");

        var days = [];
        var doctors = [];
        var weekDayNames = ['星期一','星期二','星期三','星期四','星期五','星期六','星期日'];

        $(document).ready(function(){
            $(".part").click(function(){
                var self = $(this);
                curDayTime = self.data("type");
                self.removeClass("link");
                self.addClass("visited");
                self.siblings().removeClass("visited");
                self.siblings().addClass("link");
                drawDoctors(doctors);
            });

            init();
        });

        function init(){
            calculateDaysFromNow();
            drawDays(days);
            var hosp_id = localStorage.getItem('hosp_id');
            var dept_id = localStorage.getItem('dept_id');
            var url =  "http://wx.nuttek.com/hospital/" + hosp_id + "/dept/" + dept_id + "/treatments";
            $.ajax({
                url: url,
                method: 'GET',
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    doctors = data.doctors;
                    drawDoctors(doctors);
                }
            });
        }

        function calculateCurrentDay(){
            curDay = moment().format('YYYY-MM-DD');
        }

        function calculateDaysFromNow(){
            for(i=0; i<11; i++){
                var d = moment().add(i, 'days');
                var ds = d.format('YYYY-MM-DD');
                var s = d.format('M/D d');
                var sList = s.split(' ');
                days[i] = {'date':ds,'day':sList[0], 'weekday_name':weekDayNames[sList[1]]};
            }
        }

        function drawDays(days){
            daysContainer.empty();

            var isFirst = true;
            _.each(days, function(day){
                var ele = $(dayRowTemplate(day));
                if(isFirst){
                    ele.addClass('active');
                    isFirst = false;
                    curDay = ele.data('date');
                }
                else{
                    ele.addClass('inactive');
                }
                ele.click(function () {
                    curDay = $(this).data('date');
                    drawDoctors(doctors);
                    ele.removeClass('inactive');
                    ele.addClass('active');
                    ele.siblings().removeClass('active');
                    ele.siblings().addClass('inactive');
                });
                daysContainer.append(ele);
            });
            setDaysNavWidth();
        }

        function setDaysNavWidth(){
            var width = 0;
            $('.nav_item').each(function () {
                width += (this.offsetWidth+40);

            });
            $('.nav').css('width', width + "px");
        }

        function drawDoctors(doctors){
            doctorsContainer.empty();

            _.each(doctors, function(doctor){
                var treatments = doctor.treatments;
                _.each(treatments, function(treatment){
                   if(treatment.date == curDay){
                       if(curDayTime == 0){
                           doctor.time = '上午';
                       }
                       else{
                           doctor.time = '下午';
                       }
                       var times = treatment.times;
                       var remainingAmount = 0;
                       if(times[0] != undefined && times[0].type == curDayTime){
                           remainingAmount = times[0].remaining_amount;
                       }
                       if(times[1] != undefined && times[1].type == curDayTime){
                           remainingAmount = times[1].remaining_amount;
                       }
                       doctor.remaining_amount = remainingAmount;
                       var description = doctor.description;
                       if(description.length > 18){
                           doctor.description = description.substr(0, 16) + '...';
                       }

                       var ele = $(doctorRowTemplate(doctor));
                       ele.click(function () {
                            var doctorId = $(this).data('id');

                            window.location.href = '/doctors/' + doctorId + '/page'; // ??? doctor home page
                        });
                       doctorsContainer.append(ele);
                   }
                });
            });
        }
    </script>
</html>
