{% extends 'base.html' %}
{%  block title %}找医院{% endblock %}
{% block customized_css %}
<style>
.media {
	margin-top: 5px;
	margin-left: 5px;
	border-bottom: 1px solid #F2F2F2;
}
.h4, h4 {
	color: #333;
    font-size: 17px;
}
.row {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.collapse {
	display: block;
}

.nav-tabs{
    border-top: 0px;
    border-bottom: 0px;
}

.navbar-nav {
	float: left;
	padding-left: 30px;
	margin: 0
}
.navbar-nav > li > a {
	padding-left: 30px;
}

.nav-tabs>li>a {
    border: 0px;
}

.navbar-nav .open .dropdown-menu {
	position: fixed;
	text-align: center;
	background: rgba(0,0,0,0.2);
	height: 100%;
}
.navbar-nav .open .dropdown-menu > li > a {
	line-height: 25px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #000000;
	background-color: #fff
}

.dropdown {
    text-align: center;
    width:50%;
    border-top: 0px;
    border-bottom: 0px;
}

.dropdown-menu {
	top: 60px;
	min-width: 200%;
    width: 200%;
	padding: 0;
    border: 0px;
    text-align: center;
}
.dropdown-menu > li > a {
	background: #fff;
}

.region-container {
	width: 100%;
    background-color: #f2f2f2;
    border-top, border-bottom: 1px solid #cdcdcd;
}
.media>.pull-left {
	margin-bottom: 5px;
	margin-top: 12px;
	margin-left: 5px;
}

.media-body {
    font-size: 12px;
}

</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body {
    line-height: 0.2;
}
.navbar, .navbar-default{
    border: 1px solid #cdcdcd;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F2F2F2;
    min-height: 10px;
}
.navbar {
    margin-bottom: 0px;
}
.nav-tabs {
    border-bottom: 0px solid transparent;
    background-color: #F2F2F2;
}
.nav .open>a{
    border: 0px;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}

.dropdown-menu a:link {
    color: #000000;
}

.dropdown-menu a:visited, .dropdown-menu a:active {
    color: #428bca;
}

.dropdown-menu a:hover {
    color: red;
}

.dropdown-toggle {
    background-color: #F2F2F2;
}

.btn-xs {
    border-radius: 0px;
}

.btn-info {
    background-color: #7ed2ee;
    border-color: #7ed2ee;
}
.btn-waiting {
    background-color: #a2a2ec;
    border-color: #a2a2ec;
}
.btn-success {
    background-color: #a6c14c;
    border-color: #a6c14c;
}
.btn-warning {
    background-color: #e6c92f;
    border-color: #e6c92f;
}
.btn-danger {
    background-color: #fc7e68;
    border-color: #fc7e68;
}

.fa{
    margin-left: 5px;
}

.nav-tabs>li>a{
    border: 0px;
}

.media {
    margin-top: 0px;
    width: 100%;

}

.media-body {
    padding-top: 5px;
}

.loading {
    position: relative;
    width: 100%;
    height: 100%;
}

</style>
{% endblock %}
{% block subcontent %}
<body style="height:100%">
    <input type="hidden" id="dept_id" value={{ dept_id }}>
    <div class="loading"></div>
    <div class="region-container">
        <nav class="navbar" role="navigation">
            <ul class="nav nav-tabs">
               <li class="dropdown" style="border-right: 1px solid  #e2e2e2">
                  <a class="dropdown-toggle" id="region" data-toggle="dropdown" href="#">
                     全市<i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu"  id="region">
                      <li> <a href="#" data-city-id=2>全市</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=19>和平区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=20>河东区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=21>河西区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=22>南开区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=23>河北区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=24>红桥区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=25>塘沽区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=28>东丽区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=29>西青区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=30>津南区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=31>北辰区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=32>武清区</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-city-id=2 data-county-id=33>宝坻区</a> </li>
                      </ul>
               </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" id="type" data-toggle="dropdown" href="#">
                     医院等级 <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu" id="type" style="left:-100%;">
                      <li> <a href="#" data-type=0>医院等级</a> </li>
                      <li class="divider"> </li>
                      <li> <a href="#" data-type=1>距离最近</a> </li>
                    </ul>
               </li>
            </ul>
        </nav>
    </div>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column" id="hosp_container"></div>
    </div>
  </div>
{% endblock %}

{%  block customized_js %}
    <script src="static/lib/js/underscore.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="static/lib/js/jquery.spin.js"></script>

    <script type="text/javascript" src="static/js/loading.js"></script>
    <script type="text/javascript" src="static/js/hosp.js"></script>
{% endblock %}
