<style>
 body {
	background-color: #f2f2f2;
}
.container {
	background-color:#fff;
	width:100%;
}
.media {
	border-bottom: 1px solid #F2F2F2;
	margin-top: 12px;
	margin-left: 5px;
}
.h4, h4 {
	color: #333;
}
.media1 {
	border-bottom: 1px solid #F2F2F2;
	margin-top: 12px;
	margin-left: 5px;
}
.pull-left {
	margin: 10px;
}
.row {
	width: 100%
}
</style>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="media1"> <a href="#" class="pull-left"><img src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/64/64/default.jpg"   class="img-circle" alt='' /></a>
        <div class="media-body">
          <h5>医科大学附属儿童医院</h5>
          静安区/三级甲等
          <p>
          <h6>
            <button type="button" class="btn btn-info btn-xs">挂号</button>
            <button type="button" class="btn btn-waiting btn-xs">候诊</button>
            <button type="button" class="btn btn-success btn-xs">支付</button>
            <button type="button" class="btn btn-xs btn-warning">检验</button>
            <button type="button" class="btn btn-xs btn-danger">取药</button>
          </h6>
          <p></p>
        </div>
      </div>
      <div class="media"> <a href="#" class="pull-left"><img src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/64/64/default.jpg"   class="img-circle" alt='' /></a>
        <div class="media-body">
          <h5>北医三院</h5>
         静安区/三级甲等
          <p>
          <h6>
            <button type="button" class="btn btn-info btn-xs">挂号</button>
            <button type="button" class="btn btn-waiting btn-xs">候诊</button>
          </h6>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
