{% extends 'base.html' %}

{% block subcontent %}
    <button id="bindevents">BIND</button>
    <div class="container">
    </div>
{% endblock %}

{% block customized_js %}
    <script src="static/lib/js/underscore.js"></script>
{% endblock %}

{%  block customized_js_script %}
    <script>
    var hospImgObj, doctorImgObj;

    var imgTemplate = _.template("<div>ID: <%= id%>|name:<%= name%>|<img width='50px' height='50px' src='<%=img_url%>' />|" +
            "<button data-id=<%=id%> data-type=<%= type%> >clear</button>");

    function clearImg(qObj, id, type){
        url = '/imgs?id=' + id + '&type=' + type;

        $.ajax({
            url: url,
            method: 'DELETE',
            contentType: false,
            global: false,
            processData: false,
            cache: false,
            data: '',
            success: function (data) {
                if (!data['success']) {
                    alert(data['message']);
                } else {
                    qObj.hide();
                }
            }
        });
    }

    function displayImgs(){
        url = '/imgs';

        $.ajax({
            url: url,
            method: 'GET',
            contentType: false,
            global: false,
            processData: false,
            cache: false,
            data: '',
            success: function (data) {
                if (!data['success']) {
                    alert(data['message']);
                } else {
                    fillImgs(data.hosp_objs, 'hosp');
                    fillImgs(data.doctor_objs, 'doctor');
                }
            }
        });
    }

    function fillImgs(objs, type){
        _.each(objs, function (obj) {
            obj.type = type;
            var dom = $(imgTemplate(obj));
            dom.data(obj);
            $('.container').append(dom);
        });

    }

    $(document).ready(function(){
       displayImgs();

       $('#bindevents').click(function(){
           $('button').bind('click' , function(){
               var data = $(this).data();
               clearImg($(this).parent(), data.id, data.type);
           });
       });
    });

    </script>
{% endblock %}
