{% extends 'base.html' %}
{% block title %}优医 - 优化你的就医流程{% endblock %}
{% block customized_css %}
<style>
body {
	background-color: #f2f2f2;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.col-md-6 {
	width: 50%;
	float: left;
	background-color: #f2f2f2;
	margin-bottom: 5px;
	padding-right: 0;
	padding-left: 0;
}
.album {
	min-height: inherit;
	padding-bottom: 3rem;
	background-color: #f2f2f2;
}
.media-left, .media > .pull-left {
	padding-right: 0;
}
.row-fluid {
	margin: 0;
}
.container-fluid {
	margin-bottom: 1rem;
}
.container {
    margin-top: 1rem;
}
.media {
	padding-bottom: 28px;
	padding-top: 28px;
	background-color: #fff;
	border-radius: 5px;
	margin: 5px;
	-webkit-box-shadow: 0 0 10px #d4d4d4;
	-moz-box-shadow: 0 0 10px #d4d4d4;
	box-shadow: 0 0 10px #d4d4d4;
	padding-left:12px;
}
.media-body {
	width:100%;
	padding: 0 2px 0 10px;
	text-align:center;
}
.h7{
	color:#333333;
}
.h4, h4 {color:#666;
font-size:12px;
}
a {
	font-family:"微软雅黑";
}
body,td,th {
	font-family:"微软雅黑";
}
.h4 .small {color:#333;}
input{
    background-image:url(static/img/narrow.png);
    background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-repeat:no-repeat;
    background-position: 5px 5px;
    box-sizing: content-box;
}

div.item {
    width: 100%;
    height: 254px;
}

.loading {
    position: relative;
}
</style>
{% endblock %}


{% block subcontent %}
    <!--header-->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-pills">
            <li class="dropdown pull-left"> <a id="region_dropdown" href="#" data-toggle="dropdown" class="dropdown-toggle">天津<strong class="caret"></strong></a> </li>
            <div class="span6">
              <form  name="formsearch" action="#" class="formsearch">
                <input  id="searchbtn" type="text" onfocus="if(this.value=='搜索医院、科室、医生'){this.value='';}"  onblur="if(this.value==''){this.value='搜索医院、科室、医生';}" value="搜索医院、科室、医生"  style=" color:#CCC; padding-left:25px;  "/>
                {% if username %}{{ username }}，欢迎您{% endif %}<div class="imgheader" type="button"><img alt="" src="static/img/pin.png"  style="width:20px; height:25px; margin-right: 18px;"  /> </div>
              </form>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="album text-muted">
      <!--幻灯开始-->
      <div class="loading">
        <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <div class="carousel slide" id="carousel-487170">
              <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-487170"> </li>
                <li data-slide-to="1" data-target="#carousel-487170"> </li>
                <li data-slide-to="2" data-target="#carousel-487170"> </li>
              </ol>
              <div class="carousel-inner">
                <div class="item active"> <img class="lazy" data-original="static/img/16.png" alt="" width="100%" height="254px"/></div>
                <div class="item"> <img class="lazy" alt="" width="100%" height="254px" data-original="static/img/2.png" />
                  <div class="carousel-caption"> </div>
                </div>
                <div class="item"> <img class="lazy" alt=""  width="100%" height="254px" data-original="static/img/16.png" />
                  <div class="carousel-caption"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
   <div class="container">
  <div class="row clearfix">
    <!--第一块开始-->
    <div class="col-md-6 column" data-action="hosp">
      <div class="media" data-b-type="hosp" style="margin-left:5px"> <a href="#" class="pull-left"><img src="static/img/hospital.png" class="media-object" alt='' height="48px"/></a>
        <div class="media-body">
          <h7>找医院</h7>
          <h4> <small>按医院寻医</small></h4>
        </div>
      </div>
    </div>
    <!--第二块开始-->
    <div class="col-md-6 column"  data-action="dept">
      <div class="media" data-b-type="dept" style="margin-right:5px"> <a href="#" class="pull-left"><img src="static/img/tag.png" class="media-object" alt='' height="48px" /></a>
        <div class="media-body">
          <h7>查科室</h7>
          <h4> <small>按科室寻医</small></h4>
        </div>
      </div>
    </div>
  </div>
     <!--第三块开始-->
  <div class="row clearfix">
    <div class="col-md-6 column" data-action="body">
      <div class="media" data-b-type="body" style="margin-left:5px"> <a href="#" class="pull-left"><img src="static/img/magnifier.png" class="media-object" alt='' height="48px"/></a>
        <div class="media-body">
          <h7>智能寻医</h7>
          <h4> <small>按人体图寻医</small></h4>
        </div>
      </div>
    </div>
    <!--第四块开始-->
    <div class="col-md-6 column" data-action="expert">
      <div class="media" data-b-type="doctor" style="margin-right:5px"> <a href="#" class="pull-left"><img src="static/img/doctor_2.png" class="media-object" alt='' height="48px"/></a>
        <div class="media-body">
          <h7>寻专家</h7>
          <h4> <small>按专家寻医</small></h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{%  block customized_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="static/lib/js/jquery.spin.js"></script>
    <script src="static/js/index.js"></script>
{% endblock %}
