{% extends 'base.html' %}

{% block customized_css %}

<!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="static/css/signin.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
	.container-fluid {margin:20px auto 50px;}
	.form-signin {
		max-width:90%;
		padding:inherit
	}
	.btn-link {color:#a7a7a7;}


	.form-control {border:none; box-shadow:none;}
.form-control:focus{border:none; box-shadow:none;}
.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
	background-color: #FFF;
}
	</style>
{% endblock %}

{% block subcontent %}
<table width="100%"  align="center"  class="table table-hover table-bordered">
  <tr>
    <td align="center" valign="middle"><div class="container-fluid">
        <div class="row-fluid">
          <div class="span12" style="text-align:center"> <img src="static/img/t.jpg" alt="140x140" width="90" height="87" class="img-circle" /> </div>
        </div>
      </div></td>
  </tr>
  <tr>
    <td>
        <label for="inputname" class="sr-only">昵称</label>
        <input type="name" id="inputname" class="form-control" placeholder="昵称" required autofocus value="{{ name }}">



      </td>
  </tr>
  <tr>
    <td>
        <label for="inputtel" class="sr-only">手机号</label>
        <input type="tel" id="inputPassword" class="form-control" placeholder="手机号" required value="{{ mobile }}">
      </td>
  </tr>
  <tr>
    <td><div class="container">
        <form class="form-signin">
          <button class="btn btn-block btn-small btn-link" type="submit" ><span >保存 </span></button>
        </form>
      </div></td>
  </tr>
</table>
<div class="container" style="position:absolute; bottom:10px; width:100%;">
  <form class="form-signin">
    <button class="btn btn-danger btn-block btn-small" id="btn-logout" ><span class="alls">退出登录 </span></button>
  </form>
</div>

{% endblock %}

{%  block customized_js %}
    <script src="static/js/me.js"></script>
{% endblock %}
