{% extends 'base.html' %}

{% block customized_css %}
 <link href="static/css/navbar.css" rel="stylesheet">
{% endblock %}
{% block subcontent %}
<div class="container">
  <div class="row clearfix">
    <div class="column">
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style=" border-right:1px solid #e5e5e5">
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" >科室<strong class="caret"></strong></a>
              <ul class="dropdown-menu" >
                <li> <a href="#">全市</a> </li>
                <li class="divider"> </li>
                <li> <a href="#">静安区</a> </li>
                <li class="divider"> </li>
                <li> <a href="#">和平区</a> </li>
                <li class="divider"> </li>
                <li> <a href="#">河东区</a> </li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav " style=" border-right:1px solid #e5e5e5">
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >等级<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li> <a href="#">智能排序</a> </li>
                <li class="divider"> </li>
                <li> <a href="#">医院等级</a> </li>
                <li class="divider"> </li>
                <li> <a href="#">距离最近</a> </li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav " >
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                预约时间<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li> <a href="#">智能排序</a> </li>
                <li class="divider"> </li>
                <li> <a href="#">医院等级</a> </li>
                <li class="divider"> </li>
                <li> <a href="#">距离最近</a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
{% endblock %}