{% extends 'base.html' %}
{% block customized_css %}
    <link href="static/css/signin.css" rel="stylesheet">
{% endblock %}
{% block subcontent %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-hover table-bordered">
        <tbody>
          <tr>
            <td><input type="password" id="inputpassword" class="form-control" placeholder="旧密码" required autofocus></td>
          </tr>
          <tr>
            <td><input type="newpassword" id="inputnewpassword" class="form-control" placeholder="新密码" required autofocus></td>
          </tr>
          <tr class="error">
            <td><input type="again" id="inputagain" class="form-control" placeholder="再次输入" required autofocus></td>
          </tr>
          <tr>
            <td><form class="form-signin">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ><span >保存 </span></button>
              </form></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}