{% extends 'base.html' %}

{% block customized_css %}
    <link href="static/css/signin.css" rel="stylesheet">
    <style>
        input {
            z-index: -1;
        }

        .btn-primary {
            background-color: #93b3e9;
            border-color: #93b3e9;
	background-image: linear-gradient(to bottom, #93b3e9 0px, #93b3e9 100%);
        }

        .alls {
            text-align: justify;
        }
    </style>
{% endblock %}



{% block subcontent %}
<div class="container">
  <form class="form-signin">
    <input type="hidden" id="action" value="{{ action }}"></input>
    <p>
      <label for="inputEmail" class="sr-only">手机号</label>
      <input type="input" name="username" class="form-control" placeholder="手机号" required autofocus>
    </p>
    <p>
      <label for="inputPassword" class="sr-only">密码</label>
      <input type="password" name="password" class="form-control" placeholder="密  码" required>
    </p>
    <p>
    <div>
    <div >
        <input name="inputword" class="yzm" placeholder="验证码" required type="inputword">
      </p>
    </div>
    <div style="position:inherit; float:right; margin:-50px 5px 5px; margin-left:5px; margin-right:5px">
      <button class="send" id="vcode-button" type="button"  >发送验证码</button>
    </div>

    </div>
    <span class="form-signin-heading"> </span>
    <button class="btn btn-lg btn-primary btn-block" id="submit-btn" style="margin-bottom:15px; margin-top:20px"><span class="alls">{% if action == 'reset' %} 确&nbsp; &nbsp;定 {% else %}注&nbsp; &nbsp;册 {% endif %}</span></button>
 <div class="span12">
        点击注册则同意<a href="#"><u>用户服务协议</u></a>
 </div>
  </form>
</div>
<!-- /container -->

{% endblock %}

{% block customized_js %}
    <script type="text/javascript" src="static/js/u.js"></script>
    <script type="text/javascript" src="static/js/jquery.md5.js"></script>
    <script>
        $(document).ready(function(){
            var action = '{{ action }}';
            if(action == 'reset'){
                $('head title').text('忘记密码');
            }
            else{
                $('head title').text('注册');
            }

        });
    </script>
{% endblock %}
