<title>我关注的医生</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<style>
body {
	background-color: #f2f2f2;
}
.container {
	background-color:#fff;
	width:100%;
}
.media {
	border-bottom: 1px solid #F2F2F2;margin-top: 12px;
	margin-left: 5px;
}

.h4, h4 {
	color: #333;
}
.media1 {	border-bottom: 1px solid #F2F2F2;margin-top: 12px;
	margin-left: 5px;
}
.pull-left {margin:10px;}
.row {width:100%}
</style>

<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="media1"> <a href="#" class="pull-left"><img src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/64/64/default.jpg"   class="img-circle" alt='' /></a>
        <div class="media-body">
         <h5>刘刚<small>&nbsp;主任医师</small></h5>
         天津儿童医院
          <p>
          <h6>
            <button type="button" class="btn btn-info btn-xs">消化</button>
            <button type="button" class="btn btn-waiting btn-xs">积食</button>
            <button type="button" class="btn btn-success btn-xs">消化内科</button>
          </h6>
          <p></p>
        </div>
      </div>
      <div class="media"> <a href="#" class="pull-left"><img src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/64/64/default.jpg"   class="img-circle" alt='' /></a>
        <div class="media-body">
        <h5>张立方<small>&nbsp;主任医师</small></h5>
         天津中医院
          <p>
          <h6>
            <button type="button" class="btn btn-info btn-xs">呼吸</button>
            <button type="button" class="btn btn-waiting btn-xs">气管炎</button>
          </h6>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

