<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>搜索</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, div {
            margin: 0;
            padding: 0;
        }

        .search_container {
            width: 100%;
        }

        .formsearch {
            width: 100%;
        }

        input[type="search"] {
            width: 75%;
            margin-left:5px;
            margin-top: 10px;
            margin-bottom: 5px;
            background-image:url(/static/img/narrow.png);
            background-size: 15px 15px;
            -webkit-background-size: 15px 15px;
            background-repeat:no-repeat;
            background-position: 10px 12px;
            height: 35px;
            font-size: 14px;
            color: #ccc;
            background-color: #f8f8f8;
            padding-left: 30px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            box-sizing: content-box;
            border: 1px none;
        }

        .cancel {
            float: right;
            margin-top: 20px;
            margin-right: 10px;
            font-size:14px;
            color: #ccc;
        }

        .media {
            margin-top: 5px;
            margin-left: 5px;
            border-bottom: 1px solid #F2F2F2;
        }

        .media .pull-left {
            margin: 20px 15px 5px 15px;
        }

        .media-body {
            font-size: 12px;
        }

        .btn-xs {
            border-radius: 0px;
        }

        .btn-info {
            background-color: #7ed2ee;
            border-color: #7ed2ee;
        }
        .btn-waiting {
            background-color: #a2a2ec;
            border-color: #a2a2ec;
        }
        .btn-success {
            background-color: #a6c14c;
            border-color: #a6c14c;
        }
        .btn-warning {
            background-color: #e6c92f;
            border-color: #e6c92f;
        }
        .btn-danger {
            background-color: #fc7e68;
            border-color: #fc7e68;
        }

        .media {
            margin-top: 0px;
            width: 100%;

        }

        .media-body {
            padding-top: 5px;
        }

        .hospital, .department, .doctor {
            border-bottom:1px solid #e2e2e2;
        }

        .department {
            margin-left: 10px;
        }

        .doctor {
            margin-left: 40px;
        }

        div.pull-right {
            color: #f2dede;
            font-weight: 500;
            padding-right: 25px;
        }

        .hospital div.pull-right{
            padding-top:45px;
        }
        .department div.pull-right{
            padding-top:25px;
        }
        .doctor div.pull-right{
            padding-top:60px;
        }

        label {
            margin-right: 5px;
        }

        .loading {
            position: fixed;
            margin: 0;
            padding: 0;
            background-color: #000000;
            opacity: 0.3;
            color: #ffffff;
            width: 100%;
            height:100%;
        }

    </style>

</head>
<body>
<div class="search_container">
    <form id="searchForm" action="#" class="formsearch">
        <input id="keyword" autofocus="autofocus" type="search" placeholder='搜索医院、科室、医生' autocomplete="off">
        <div class="cancel"> 取消 </div>
    </form>
</div>

<div class="content_container">
    <div class="media"></div>
</div>
</body>
<script >

    var container = $(".media");
    var hospitalRowTemplate = _.template('<div class="hospital" data-hosp_id="<%=id%>">' +
                                         '<a href="#" class="pull-left"><img width="71px" height="71px" src="<%=logo%>" class="img-circle"></a>' +
                                         '<div class="pull-right">&gt;</div>' +
                                         '<div class="media-body">' +
                                         '<h4><%=name%></h4>' +
                                         '<%=county.name%> / <%=level.name%>' +
                                         '<h6 id="flowLabel">' +
                                            '<label type="button" class="btn btn-info btn-xs">挂号</label>' +
                                            '<label type="button" class="btn btn-waiting btn-xs">候诊</label>' +
                                            '<label type="button" class="btn btn-success btn-xs">支付</label>' +
                                            '<label type="button" class="btn btn-xs btn-warning">检验</label>' +
                                            '<label type="button" class="btn btn-xs btn-danger">取药</label>' +
                                         '</h6>' +
                                        '</div>' +
                                        '</div>');

    var departmentRowTemplate = _.template('<div class="department" data-hosp_id="<%=hosp_id%>" data-dept_id="<%=id%>">' +
                                            '<a href="#" class="pull-left"><img width="30px" height="30px" src="/static/img/tag.png"></a>' +
                                            '<div class="pull-right">&gt;</div>' +
                                            '<div class="media-body">' +
                                            '<h4><%=name%></h4>' +
                                            '<%=hosp_name%>' +
                                            '</div>' +
                                            '</div>');

    var doctorRowTemplate = _.template('<div class="doctor" data-hosp_id="<%=hosp_id%>" data-dept_id="<%=dept_id%>" data-doctor_id="<%=id%>">' +
                                        '<a href="#" class="pull-left"><img width="71px" height="71px" src="<%=thumbnail%>" class="img-circle"></a>' +
                                        '<div class="pull-right">&gt;</div>' +
                                        '<div class="media-body">' +
                                        '<h4><%=name%></h4><h5><%=level.name%></h5>' +
                                        '<%=hosp_name%> / <%=dept_name%>' +
                                        '<h6 id="flowLabel">' +
                                        '<label type="button" class="btn btn-info btn-xs">消化</label>' +
                                        '<label type="button" class="btn btn-waiting btn-xs">积食</label>' +
                                        '<label type="button" class="btn btn-success btn-xs">呼吸</label>' +
                                        '<label type="button" class="btn btn-xs btn-warning">肿瘤</label>' +
                                        '<label type="button" class="btn btn-xs btn-danger">外科</label>' +
                                        '</h6>' +
                                        '</div>' +
                                        '</div>');


    $(document).ready(function(){

        $('#searchForm').submit(function(e){
            e.preventDefault();
            var keyword = $("#keyword").val();
            alert(keyword);
            doSearch(keyword);
        });


        $(".cancel").click(function(){
           window.location.href = "/home";
        });

        init();
    });

    function init(){}


    function doSearch(keyword){
        var url =  "http://yy.nuttek.com/search?keyword=" + keyword;
        $.ajax({
            url: url,
            method: 'GET',
            contentType: false,
            processData: false,
            cache: false,
            success: function (data) {
                clearCurrentResult();
                hospitals = data.hospitals;
                drawSearchResult(hospitals);
                pickupVKeyboard();
            }
        });
    }

    var curHospId, curDeptId;
    var curHospName, curDeptName;

    function clearCurrentResult(){
        container.empty();
    }

    function pickupVKeyboard(){
        $(".cancel").focus();
    }

    function drawSearchResult(hospitals){
        _.each(hospitals, function(hospital){
            curHospId = hospital.id;
            curHospName = hospital.name;
            drawHospital(hospital);
        });
    }

    function drawHospital(hospital){
        var row = $(hospitalRowTemplate(hospital));
        row.click(function () {
            var hospId = $(this).data('hosp_id');
            window.location.href = '/hospital/' + hospId;
        });
        container.append(row);
        drawDepartments(hospital.departments);
    }

    function drawDepartments(departments){
        if(departments == undefined || departments.length < 1){
            return false;
        }
        _.each(departments, function(department) {
            curDeptId = department.id;
            curDeptName = department.curDeptName;
            drawDepartment(department);
        });
    }

    function drawDepartment(department){
        department.hosp_id = curHospId;
        department.hosp_name = curHospName;
        var row = $(departmentRowTemplate(department));
        row.click(function () {
            var hospId = $(this).data('hosp_id');
            var deptId = $(this).data('dept_id');
            localStorage.setItem('hosp_id', hospId);
            localStorage.setItem('dept_id', deptId);
            window.location.href = '/treatments';
        });
        container.append(row);
        drawDoctors(department.doctors);
    }

    function drawDoctors(doctors){
        if(doctors == undefined || doctors.length < 1){
            return false;
        }
        _.each(doctors, function(doctor) {
            drawDoctor(doctor);
        });
    }

    function drawDoctor(doctor){
        doctor.hosp_id = curHospId;
        doctor.hosp_name = curHospName;
        doctor.dept_id = curDeptId;
        doctor.dept_name = curDeptName;

        var row = $(doctorRowTemplate(doctor));
        row.click(function () {
            var hospId = $(this).data('hosp_id');
            var deptId = $(this).data('dept_id');
            var doctorId = $(this).data('doctor_id');

            window.location.href = '/doctors/' + doctorId + '/page';
        });
        container.append(row);
    }

</script>
</html>
