{% extends 'base.html' %}

{% block customized_css %}
    <link href="static/css/signin.css" rel="stylesheet">

    <style>
        .alls {
            text-align: justify;
        }
        .picone{
	text-align:center;
	}
	.btn-primary{
	background-image: linear-gradient(to bottom, #93b3e9 0px, #93b3e9 100%);}
	p {margin:0 0 12px;}
	.btn-link {color:#c9d7f0;}
	.btn-link:focus, .btn-link:hover{color:#c9d7f0;}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
    </style>
{% endblock %}

{% block subcontent %}


    <div class="container">
        <form class="form-signin" action="/signin" method="POST">
            <div class="picone">
       <img src="/static/img/sign.png" width="163" height="177" >
            <h3 class="form-signin-heading" style="color: #999;">优医<small>优化你的就医流程</small></h3>
                </div>
            <div class="picone">
            <p>
                  <label for="username" class="sr-only">手机号</label>
                  <input type="input" name="username" class="form-control" placeholder="手机号" required autofocus>
                </p>
            <p>
                  <label for="password" class="sr-only">密码</label>
                  <input type="password" name="password" class="form-control" placeholder="密  码" required>
                </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom:15px; margin-top:20px"><span class="alls">登&nbsp; &nbsp;录 </span></button>
            <div class="msg err">{% if msg %}{{ msg }}{% endif %}</div>
            <div class="span12">
                  <button class="btn btn-link btn-mini" style="padding-right:20px" type="button"><a href="/registration">马上注册</a></button>
                  <button class="btn btn-link btn-mini" type="button" style="padding-left:20px"><a href="/registration?action=reset">忘记密码</a></button>
                </div></div>
          </form>
    </div>
    <!-- /container -->
{% endblock %}

