body {
  /*min-height: 75rem;*/ /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;

}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  /*padding-top: 3rem;*/
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.cardf {
  float: left;
  width: 48%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background:#fff none repeat scroll 0 0;
  box-shadow:0 0 2px;
  border-radius:5px;
  margin-left:0.65rem;
  margin-bottom:1rem;
  
  
}
.card {
  float: left;
  /*width: 10%;*/
  padding: .45rem;
  margin-bottom: 2rem;
  margin-top:2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
	font-size: 67%;
	font-weight: normal;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
