.media {
	border-bottom: 1px solid #F2F2F2;
	margin-top: 12px;
	margin-left: 5px;
}
.h4, h4 {
	color: #333;
}
.row {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.collapse {
	display: block;
}
.dropdown-menu {
	top: 60px;
	min-width: 100%;
	padding: 0;
}
.dropdown-menu > li > a {
	background: #fff;
}
.dropdown-menu .divider {
	width: 250%;
	margin: 0
}
.navbar-nav {
	float: left;
	margin: 0
}
.navbar-nav > li > a {
	padding-left: 30px;
}
.navbar-nav .open .dropdown-menu {
	position: fixed;
	text-align: center;
	background: rgba(0,0,0,0.2);
	height: 100%;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #6CF;
	background-color: #fff
}
.navbar-nav .open .dropdown-menu > li > a {
	line-height: 25px;
}
.container {
	width: 100%;
}