html, body, div, ul, li, ol, a, input, textarea, p, dl, dt, dd {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background: #f5f5f5;
	position: relative;
	font-family: 'Arial,sans-serif';
	max-width: 640px;
	margin: auto;
}
a, input, img, textarea, span, div {
	outline: 0;
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
header {
	width: 100%;
	height: 45px;
	background: #ececea;
	border-bottom: 1px solid #ddd;
}
header.fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}
.header {
	margin: 0 20px;
	text-align: center;
	color: #4e4a49;
	font-size: 1em;
	height: 45px;
	line-height: 45px;
	position: relative;
}
#letter {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	font-size: 75px;
	color: #555;
	text-align: center;
	line-height: 100px;
	background: rgba(145,145,145,0.6);
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -50px 0px 0px -50px;
	z-index: 99;
	display: none;
}
#letter img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 25px 0px 0px 25px;
}
.sort_box {
	width: 100%;
	overflow: hidden;
}
.sort_list {
	padding: 5px 10px 10px 20px;
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}
.sort_list .num_logo {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	left: 20px;
}
.sort_list .num_logo img {
	width: 50px;
	height: 50px;
}
.sort_list .num_name {
	color: #000;
}
.sort_letter {
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	color: #787878;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	background-color: #e6e6e6;
}
.initials {
	position: fixed;
	top: 47px;
	right: 0px;
	height: 100%;
	width: 15px;
	padding-right: 10px;
	text-align: center;
	font-size: 12px;
	z-index: 99;
	background: rgba(145,145,145,0);
}
.initials li img {
	width: 14px;
}
input {
	font-size: 14px;
	line-height: normal;
	width: 60%;
	text-align: start;
	background: left no-repeat rgba(248, 248, 248, 2);
	background-size: 16px 16px;
	background-image: url(../img/narrow.png);
	border: 1px none;
	border-radius: 5px;
}
.span6 {
	padding: 5px 10px 10px 20px;
}
.container {
	margin-right: auto;
	margin-left: auto
}
.col-md-12 {
	position: relative;
	min-height: 1px;
	padding: 5px 10px 10px 20px;
}
.btn {
	-moz-user-select: none;
	background-image: none;
	border: 0px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.btn-default.focus, .btn-default:focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c
}
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}
