body {
  padding-bottom: 40px;
  background-color: #f7f7f7;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
	text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
 /* position: relative;*/
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  	font-size: 15px;
	color:#c0c0c0;
	font-family:Arial, sans-serif;
	font-weight:100;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.msg{
  font-size: 65%;
}
.msg err{
  border: 1px solid red;
  color: #D9534F;
  font-weight: 300;
}

.button-vcode {
	position: absolute;
	margin: 9px 0 0 -93px;
	width: 87px;
	height: 34px;
	border-radius: 3px;
	background: #f7f7f7;
	font-size: 12px;
	cursor: pointer;
	color: #93b3e9;
}

.button-vcode .enable{
    color:#93b3e9;
}

.button-vcode .disable{
    color:#A1A1A1;
}
/*验证码样式开始 */
.btn-primary {
	background-color: #93b3e9;
	border-color: #93b3e9;
}
.alls {
	text-align: justify;
}
.send {
	position: absolute;
	margin: -3px 0 0 -89px;
	width: 87px;
	height: 34px;
	border-radius: 3px;
	background: #f7f7f7;
	font-size: 12px;
	cursor: pointer;
	color: #93b3e9;
	border: medium none;
}
.yzm {
	width: 100%;
	height: auto;
	border-radius: 4px;
	background-color: #FFF;
	background-image: none;
    filter:alpha(opacity:70);
	opacity: 0.7;
	list-style: none;
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
	font-size: 15px;
	font-family: Arial, sans-serif;
	font-weight: 100;
}
.yzm:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}
.btn-primary:hover {
	color: #fff;
	background-color: #93b3e9;
	border-color: #93b3e9
}
.form-control {
	border: none;
	box-shadow: none;
}
.form-control:focus {
	border: none;
	box-shadow: none;
}
.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
	background-color: #FFF;
}
.span12 {
	text-align:center;
	color:#c0c0c0;
}

.span12>a{
	color:#c9d7f0;
}